* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* nav */
a {
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(76,75,22);
}
.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul .logout{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    transition: 0.35s
}
.nav ul .logout:hover{
    transition: 0.35s;
    background-color: rgb(137,129,33);
}
/*---*/

/*main*/
.wrapper {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*title*/
.wrapper .title {
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    margin-bottom: 2rem;
}

/*main*/
.wrapper .main{
    border: solid 1px rgb(202,202,202);
    border-radius: 8px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper .inputField{
    margin-top: 0.75rem;
    margin-bottom: 2rem;
}
.wrapper .inputField .field{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wrapper .inputField .field .errorUsername{
    color: tomato;
    border-left: 2px solid tomato;
    margin-left: 10px;
    padding-left: 2px;
    font-size: 16px;
}
.wrapper .inputField .field p{
    color: rgb(102,102,102);
    font-size: 20px;
    font-weigh: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrapper .inputField .field input{
    background-color: rgb(252,252,252);
    border: solid 1px rgb(194,194,194);
    border-radius: 10px;

    font-size: 2vh;
    height: 2.75rem;
    padding: 20px;
    width: 25rem;
}
@media only screen and (max-width: 600px){
    .wrapper .inputField .field input{
        width: 15rem;
    }
    .wrapper .title {
        margin-bottom: 1rem;
    }
    .wrapper .inputField{
        margin-top: -1.5rem;
        margin-bottom: -1rem;
    }
}
@media only screen and (max-width: 370px){
    .wrapper .inputField .field input{
        width: 10rem;
    }
}

/*footer*/
.wrapper .footer .btn{
    display: flex;
    justify-content: space-around;
}
.wrapper .footer .btn button{
    margin-top: 2rem;
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 4vw;
    background-color: rgb(231,177,10);
    color: black;
    border: none;
    border-radius: 6px;
    height: 55px;
    width: 7rem;
    transition: 0.35s;
    margin-bottom: 10px;
}
.wrapper .footer .btn .back a{
    color: black;
    transition: 0.35s;
}
.wrapper .footer .btn button:hover{
    transition: 0.35s;
    background-color: rgb(253,193,0);
}

.wrapper .footer .btn .add a{
    color: white;
    text-align: center;
}
.wrapper .footer .btn .add {
    background-color: rgb(137,129,33);
}
.wrapper .footer .btn .add:hover {
    background-color: rgb(76,75,22);
}