* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* nav */
a {
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(76,75,22);
}
.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul .logout{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    transition: 0.35s
}
.nav ul .logout:hover{
    transition: 0.35s;
    background-color: rgb(137,129,33);
}
/*---*/


.wrapper {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*title*/
.wrapper .title {
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
    margin-bottom: 2rem;
}

/*name*/
.main .name{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main .name span {
    margin-right: 2rem;
    margin-left: 2rem;
    font-size: 2.5vh;
    font-weight: bold;
    color: rgb(102,102,102);
}

/*input*/
.main .inputMain{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .inputMain div{
    margin-right: 2rem;
    margin-left: 2rem;
}
.main .inputMain div p{
    margin-left: 2px;
    margin-bottom: 7px;
    font-size: 2.5vh;
    font-weight: bold;
}
.main .inputMain div .type{
    font-size: 2vh;
    color: rgb(102,102,102);
    border: solid 1px rgb(202,202,202);
    border-radius: 10px;
    width: 7rem;
    height: 3rem;
}
.main .inputMain div .number{
    font-size: 2vh;
    color: rgb(102,102,102);
    border: solid 1px rgb(202,202,202);
    border-radius: 10px;
    width: 7rem;
    height: 3rem;
    padding: 20px;
}

.img div{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img div p{
    margin: 10px 0 10px;
    font-size: 2.5vh;
    font-weight: bold;
}
.img div input[type=file]::file-selector-button {
    border: none;
    background-color: rgb(137,129,33);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    font-size: 2vh;
    transition: 0.35s;
}
.img div input[type=file]::file-selector-button:hover {
    transition: 0.35s;
    background-color: rgb(76,75,22);
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a button{
    margin: 4rem 0 2rem;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(137,129,33);
    border: none;
    border-radius: 6px;
    height: 3rem;
    width: 6rem;
    transition: 0.35s;
    font-weight: bold;
    color: white;
}
.btn a button:hover{
    transition: 0.35s;
    background-color: rgb(76,75,22);
}

/*footer*/
.footer a button{
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 6.5vw;
    margin-top: 2rem;
    background-color: rgb(231,177,10);
    color: black;
    border: none;
    border-radius: 6px;
    height: 55px;
    width: 7rem;
    transition: 0.35s;
    margin-bottom: 10px;
    transition: 0.35s;
    color: black;
}
.footer a button:hover{
    transition: 0.35s;
    background-color: rgb(253,193,0);
}

@media only screen and (max-width: 530px){
    .main .name span {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 2vh;
        font-weight: bold;
        color: rgb(102,102,102);
    }
}
@media only screen and (max-width: 300px){
    .main .name span {
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.8vh;
        font-weight: bold;
        color: rgb(102,102,102);
    }
}