* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* nav */
a {
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(76,75,22);
}
.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul .logout{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    transition: 0.35s
}
.nav ul .logout:hover{
    transition: 0.35s;
    background-color: rgb(137,129,33);
}
/*---*/

.wrapper {
    margin-top: 7rem;
    align-items: center;
}
/*title*/
.wrapper .title {
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    margin-bottom: 2rem;
}

/*main*/
.wrapper .main{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*table*/
.wrapper .main .field {
    margin-top: 1rem;
    margin-left: 4vw;
    margin-right: 3vw;
    border: solid 1px rgb(202,202,202);
    border-radius: 8px;
    background-color: white;
    color: rgb(153,153,153);
}
.wrapper .main .field tr th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 2.5vh;
    border-bottom: 1px solid #ddd;
}
.wrapper .main .field table td{
    cursor: pointer;
    text-align: center;
    color: rgb(102,102,102);
    width: 220px;
}
.wrapper .main .field table td button{
    background-color: tomato;
    transition: 0.35s;
    border-radius: 10px;
    border: none;
    height: 2.6rem;
    width: 5rem;
}
.wrapper .main .field table td button a{
    color: white;
    font-size: 18px;
}
.wrapper .main .field table td button:hover{
    transition: 0.35s;
    background-color: red;
}


.wrapper .main .btn{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1000px){
    .wrapper .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 600px){
    .wrapper .main .field table td{
        font-size: 16px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
    }
    .wrapper .main .field table th{
        font-size: 18px;
            padding-left: 1rem;
            padding-right: 1rem;
    }
}
@media only screen and (max-width: 500px){
    .wrapper .main .field table td{
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .wrapper .main .field table th{
        font-size: 16px;
    }
    .wrapper .main .btn button{
        height: 50px;
    }
    .wrapper .main .field table td button{
        background-color: tomato;
        transition: 0.35s;
        border-radius: 10px;
        border: none;
        height: 2rem;
        width: 3.5rem;
    }
    .wrapper .main .field table td button a{
        color: white;
        font-size: 12px;
    }
}
@media only screen and (max-width: 450px){
    .wrapper .main .field table td{
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .wrapper .main .field table th{
        font-size: 12px;
    }
    .wrapper .main .btn button{
        height: 50px;
    }
    .wrapper .main .field table td button{
        background-color: tomato;
        transition: 0.35s;
        border-radius: 10px;
        border: none;
        height: 2rem;
        width: 3.5rem;
    }
    .wrapper .main .field table td button a{
        color: white;
        font-size: 12px;
    }
}
@media only screen and (max-width: 360px){
    .wrapper .main .field table td{
        font-size: 8px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .wrapper .main .field table th{
        font-size: 10px;
        padding-right: 7px;
        padding-left: 7px;
    }
    .wrapper .main .btn button{
        height: 50px;
    }
    .wrapper .main .field table td button{
        background-color: tomato;
        transition: 0.35s;
        border-radius: 10px;
        border: none;
        height: 2rem;
        width: 3.5rem;
    }
    .wrapper .main .field table td button a{
        color: white;
        font-size: 12px;
    }
    .wrapper .main .btn button{
        font-size: 2vh !important;
        font-weight: bold;
        height: 40px !important;
        width: 10rem !important;
        margin-top: 1rem !important;
    }
}

.wrapper .main .btn button{
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(137,129,33);
    border: none;
    height: 60px;
    width: 20rem;
    transition: 0.35s;

    margin-top: 4rem;
    margin-bottom: 2rem;
}
.wrapper .main .btn button:hover{
    background-color: rgb(76,75,22);
}

.wrapper .main .btn button a{
    color: white;
}

/*footer*/
.wrapper .footer .btn button{
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 6.5vw;
    margin-top: 2rem;
    background-color: rgb(231,177,10);
    color: black;
    border: none;
    border-radius: 6px;
    height: 55px;
    width: 7rem;
    transition: 0.35s;
    margin-bottom: 10px;
    transition: 0.35s;
}
.wrapper .footer .btn button a{
    color: black;
}
.wrapper .footer .btn button:hover{
    transition: 0.35s;
    background-color: rgb(253,193,0);
}