* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

/* nav */
a {
    text-decoration: none;
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(76,75,22);
}
.nav ul{
    display: flex;
    justify-content: space-between;
}

.nav ul .logout{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 4px;
    transition: 0.35s
}
.nav ul .logout:hover{
    transition: 0.35s;
    background-color: rgb(137,129,33);
}
/*---*/


/*main*/
.wrapper {
    margin-top: 7rem;
}
/*title*/
.wrapper .title {
    display: flex;
    justify-content: center;
    align-item: center;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
    margin-bottom: 5rem;
}

.wrapper .head {
    display: flex;
    justify-content: left;
    margin-left: 4rem;
    align-item: center;
}
/*name*/
.wrapper .head .plot-name{
    font-size: 2.8vh;
    font-weight: bold;
}


.wrapper .head .btn {
    margin-left: 33vw;
    margin-top: 3px;
}
/*year drop down*/
.wrapper .head .btn .year-list{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left: 7px;
    text-align: center;
    border-radius: 5px;
    color: rgb(153,153,153);
    font-size: 2vh;
    border: solid 1px rgb(202,202,202);
    background-color: white;
    cursor: pointer;
}

.wrapper .main {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 800px){
    .wrapper .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-item: center;
    }
}

/*table*/
.wrapper .main  .table-round table{
    margin-top: 1rem;
    margin-left: 4vw;
    margin-right: 3vw;
    width: 50vw;
    border: solid 1px rgb(202,202,202);
    border-radius: 8px;
    background-color: white;
    color: rgb(153,153,153);
}

.wrapper .main .table-round tr th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 2.5vh;
    border-bottom: 1px solid #ddd;
}

.wrapper .main .table-round table td{
    cursor: pointer;
    text-align: center;
    color: rgb(102,102,102);
}

/*button*/
.wrapper .main .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper .main .btn button{
    cursor: pointer;
    font-size: 2.5vh;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    background-color: rgb(137,129,33);
    border: none;
    height: 60px;
    width: 20rem;

    margin-top: 4rem;
    margin-bottom: 2rem;
}
.wrapper .main .btn button a{
    color: white;
}


/*footer*/
.wrapper .footer .btn button{
    font-size: 2.5vh;
    font-weight: bold;
    margin-left: 4vw;
    background-color: rgb(231,177,10);
    color: black;
    border: none;
    border-radius: 6px;
    height: 55px;
    width: 7rem;
    transition: 0.35s;
}
.wrapper .footer .btn button a{
    color: black;
}
.wrapper .footer .btn button:hover{
    transition: 0.35s;
    background-color: rgb(253,193,0);
}