<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/adminMenu.css}"/>
  <title>AdminMenu</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span th:text="${username}"></span></a>
    </li>
    <li style="list-style: none;">
      <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="btn">
    <button><a th:href="@{/admin/manageUser}">จัดการผู้ใช้งาน</a></button>
    <button><a href="#">จัดการแปลง</a></button>
  </div>
</div>

</body>
</html>