<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/userChangePassword.css}"/>
    <title>Round</title>
</head>
<body>

<div class="nav">
    <ul>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span th:text="${username}"></span></a>
        </li>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="title">เปลี่ยนรหัสผ่าน</div>

    <div class="main">
        <form action="" class="inputField">
            <div class="field">
                <p>ชื่อผู้ใช้</p>
                <input type="text" class="usernameField" id="usernameField"/>
            </div>
            <div class="field">
                <p>รหัสผ่านใหม่</p>
                <input type="password" class="newPasswordField" id="newPasswordField"/>
            </div>
            <div class="field">
                <p>ยืนยันรหัสผ่านใหม่</p>
                <input type="password" class="confirmNewPasswordField" id="confirmNewPasswordField"/>
            </div>
        </form>

        <div class="btn">
            <button><a href="#">เปลี่ยนรหัสผ่าน</a></button>
        </div>
    </div>

    <div class="footer">
        <button><a href="#">กลับ</a></button>
    </div>
</div>

</body>
</html>