<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/createUser.css}"/>
    <title>เพิ่มผู้ใช้</title>
</head>
<body>

<div class="nav">
    <ul>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span th:text="${username}"></span></a>
        </li>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="title">เพิ่มผู้ใช้</div>

    <div class="main">
        <form th:action="@{/admin/managerUser/create}" class="inputField" method="post">
            <div class="field">
                <p>ชื่อผู้ใช้</p>
                <input type="text" name="username"/>
            </div>
            <div class="field">
                <p>ชื่อจริง</p>
                <input type="text" name="name"/>
            </div>
            <div class="field">
                <p>รหัสผ่าน</p>
                <input type="password" name="password"/>
            </div>
<!--            <div class="field">-->
<!--                <p>ยืนยันรหัสผ่าน</p>-->
<!--                <input type="password" name="confirmPassword"/>-->
<!--            </div>-->

            <div class="footer">
                <div class="btn">
                    <button class="back"><a href="#">กลับ</a></button>
                    <button class="add" type="submit"><a href="#">เพิ่มผู้ใช้</a></button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>