<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/createround.css}"/>
  <title>เพิ่มรอบ</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">

  <div class="title">สร้างรอบ</div>

  <div class="head">
    <div class="plot-name" id="plot-name"><span th:text="${plotName}"></span></div>
  </div>

  <div class="form">

    <div class="main">
      <div class="header">
        <p>ปี</p>
        <p>เดือน</p>
      </div>
      <hr>
      <form method="post" th:action="@{/manager/menu/round/create/{name}(name=${plotId})}">
        <div class="field">
          <select name="year" id="yearField" class="yearField" th:onchange="'window.location.href = \'' + @{/manager/menu/round/create/{id}(id=${plotId})} + '/\' + this.value ' ">
            <!--        add by frontend-->
            <option th:each="year : ${years}" th:value="${year}" th:text="${year}"></option>
          </select>

          <select name="month" id="monthField" class="monthField">
            <option th:each="m : ${months}" th:text="${m}"></option>
          </select>
        </div>

        <p th:text="${errorNotice}" style="text-align: center; color: red; font-size: 20px"></p>

        <div class="btn">
          <button type="submit">สร้างรอบ</button>
        </div>

      </form>

      <div class="btn">
        <a th:href="@{/manager/menu/round/{name}(name = ${plotId})}"><button type="submit" style="background: rgb(231,177,10); color: black" class="back">กลับ</button></a>
      </div>
    </div>
  </div>
</div>

</body>
</html>