<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/createPalmPlot.css}"/>
  <title>เพิ่มแปลง</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">เพิ่มแปลง</div>

  <div class="main">
    <form action="" class="inputField" id="inputField" th:action="@{/admin/managePlantation/create}" method="post">
      <div class="field">
        <p>ชื่อแปลง</p>
        <input type="text" class="plotNameField" id="plotNameField" name="name"/>
      </div>
      <div class="field">
        <p>จำนวนไร่</p>
        <input type="text" class="numberField" id="numberField" name="numOfRaiUnit"/>
      </div>
      <div th:if="${success}" style="color: green">เพิ่มแปลงสำเร็จ</div>
      <div th:text="${error}" style="color: red"></div>
      <div class="footer">
        <div class="btn">
          <a th:href="@{/admin/managePlantation}"><button class="back">กลับ</button></a>
          <button class="enter" type="submit">ยืนยัน</button>
        </div>
      </div>
    </form>
  </div>

</div>

</body>
</html>