<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/deleteRoundValidate.css}"/>
    <title>ยืนยันการลบรอบ</title>
</head>
<body>

<div class="nav">
    <ul>
        <li style="list-style: none;" sec:authorize="isAuthenticated()">
            <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
        </li>
        <li style="list-style: none;">
            <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="title">ลบรอบ</div>

    <div class="main">
        <div class="box">

            <div class="header">
                <p>ยืนยันการลบรอบ</p>
            </div>

            <hr>

            <div class="data">
                <div class="header">
                    <div class="head">
                        <p>ปี</p>
                    </div>
                    <div class="head">
                        <p>เดือน</p>
                    </div>
                    <div class="head">
                        <p>รอบ</p>
                    </div>
                </div>

                <div class="plotRoundDelete">
                    <span th:text="${yearDelete}" class="yearDelete" id="yearDelete"></span>
                    <span th:text="${monthDelete}" class="monthDelete" id="monthDelete"></span>
                    <span th:text="${roundDelete}" class="roundDelete" id="roundDelete"></span>
                </div>

            </div>

            <div class="btn">
                <a href="#"><button class="cancel">ยกเลิก</button></a>
                <a href="#"><button class="enter">ยืนยัน</button></a>
            </div>
        </div>

    </div>

</div>

</body>
</html>