<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">
    <br>
    <br>

    <p class="fs-1 text-center mt-5 mb-5">ระบบจัดการสวนปาล์มน้ำมัน</p>
    <div>
        <div class="form-group">
            <p class="fs-4 mb-1">ชื่อผู้ใช้</p>
            <input description="username" class="form-control fs-4" id="username" name="username" placeholder="กรอกชื่อผู้ใช้">
        </div>
        <br>
        <div class="form-group">
            <p class="fs-4 mb-1">รหัสผ่าน</p>
            <input description="password" class="form-control fs-4" id="password" name="password" placeholder="กรอกรหัสผ่าน">
        </div>
        <br>
        <div class="text-center">
            <button description="submit" class="btn text-light fw-bold fs-4 mt-5" id="loginBtn" style="background-color: rgb(137,129,33); padding-left: 15rem; padding-right: 15rem;">เข้าสู่ระบบ</button>
        </div>
    </div>

</div>
</body>
</html>