<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:rel="stylesheet" th:href="@{css/login.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<form class="wrapper" th:action="@{/}" method="post">
    <div class="title">ระบบจัดการสวนปาล์มน้ำมัน</div>
    <div class="row">
        <input type="text" placeholder="ชื่อผู้ใช้" name="username" class="username" id="inputUsername">
    </div>

    <div class="row">
        <input type="password" placeholder="รหัสผ่าน" name="password" class="password" id="inputPassword">
        <p class="error-password" id="error-password" th:if="${param.error}">รหัสผ่านไม่ถูกต้อง</p>
        <p class="error-password" id="error-password" th:if="${param.logout}">คุณออกจากระบบแล้ว</p>
    </div>
    <div class="row-btn">
        <input id="submit-button" type="submit" class="btn" value="เข้าสู่ระบบ" style="font-weight: bold; font-size:2vh">
    </div>
</form>
</body>
</html>