<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/manageUser.css}"/>
  <title>จัดการผู้ใช้</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">จัดการผู้ใช้</div>

  <div th:if="${param.addSuccess}" style="color: green; text-align: center">เพิ่มผู้ใช้สำเร็จ</div>
  <div th:if="${param.removeSuccess}" style="color: green; text-align: center">ลบผู้ใช้สำเร็จ</div>
  <div th:if="${param.changeSuccess}" style="color: green; text-align: center">เปลี่ยนรหัสผ่านผู้ใช้สำเร็จ</div>


  <div class="main">
    <div class="field" style="overflow: scroll">
      <table>
        <tr>
          <th>ชื่อผู้ใช้</th>
          <th>ชื่อจริง</th>
          <th>ลบผู้ใช้</th>

<!--        frontend add-->
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.name}"></td>
        <td><a th:href="@{/admin/manageUser/remove/{username}(username=${user.username})}"><button>ลบผู้ใช้</button></a></td>
        </tr>

      </table>
    </div>

    <div class="btn">
      <a th:href="@{/admin/manageUser/create}"><button>เพิ่มผู้ใช้</button></a>
      <a th:href="@{/admin/manageUser/changePassword}"><button>เปลี่ยนรหัสผ่าน</button></a>
    </div>
  </div>

  <div class="footer">
    <div class="btn">
      <a th:href="@{/admin/menu}"><button>กลับ</button></a>
    </div>
  </div>

</div>

</body>
</html>