<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/manageRound.css}"/>
  <title>จัดการรอบ</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span th:text="${username}"></span></a>
    </li>
    <li style="list-style: none;">
      <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">จัดการรอบ</div>

  <div class="main">

    <div class="plot">
      <div class="name">
        <span th:text="${plotName}"></span>
      </div>
      <div class="year">
        <span th:text="${plotYear}"></span>
      </div>
      <div class="month">
        <span th:text="${plotMonth}"></span>
      </div>
      <div class="round">
        <span th:text="${plotRound}"></span>
      </div>
    </div>

    <div class="btn">
      <button><a href="#">ตัดปาล์ม</a></button>
      <button><a href="#">ใส่ปุ๋ย</a></button>
      <button><a href="#">ตัดแต่งทางใบ</a></button>
    </div>
  </div>

</div>

<div class="footer">
  <div class="btn">
    <button><a href="#">กลับ</a></button>
  </div>
</div>

</body>
</html>