<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/managePalmPlot.css}"/>
    <title>ManagePalmOilPlot</title>
</head>
<body>

<div class="nav">
    <ul>
        <li style="list-style: none;" sec:authorize="isAuthenticated()">
            <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
        </li>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="title">จัดการแปลง</div>

    <div class="main">
        <div class="field">
            <table>
                <tr>
                    <th>ชื่อแปลง</th>
                    <th>จำนวนไร่</th>
                    <th>ที่อยู่</th>
                </tr>
                    <!--        frontend add-->
                <tr>
                    <td>พลุดินนา</td>
                    <td>1 ไร่</td>
                    <td>lorem lorem lorem lorem lorem lorem loremeeeeeeeeeeeee</td>
                </tr>

            </table>
        </div>

        <div class="btn">
            <button><a href="#">เพิ่มผู้ใช้</a></button>
            <button><a href="#">ลบผู้ใช้</a></button>
        </div>
    </div>

    <div class="footer">
        <div class="btn">
            <button><a href="#">กลับ</a></button>
        </div>
    </div>

</div>

</body>
</html>