<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/manageUser.css}"/>
  <title>ManageUser</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">จัดการผู้ใช้</div>

  <div class="main">
    <div class="field" style="overflow: scroll">
      <table>
        <tr>
          <th>ชื่อผู้ใช้</th>
          <th>ชื่อจริง</th>
          <th>ลบผู้ใช้</th>

<!--        frontend add-->
        <tr th:each="user : ${users}">
          <td th:text="${user.username}"></td>
          <td th:text="${user.name}"></td>
        <td><button><a th:href="@{/admin/manageUser/remove/{username}(username=${user.username})}">ลบผู้ใช้</a></button></td>
        </tr>

      </table>
    </div>

    <div class="btn">
      <p th:if="${param.remove}" style="font-size:25px">ลบผู้ใช้สำเร็จ</p>
      <p th:if="${param.cannot}" style="font-size:25px">ลบผู้ดูแลระบบไม่ได้</p>
      <button><a th:href="@{/admin/manageUser/create}">เพิ่มผู้ใช้</a></button>
      <button><a th:href="@{/admin/manageUser/changePassword}">เปลี่ยนรหัสผ่าน</a></button>
    </div>
  </div>

  <div class="footer">
    <div class="btn">
      <button><a href="@{/admin/menu}">กลับ</a></button>
    </div>
  </div>

</div>

</body>
</html>