<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/menu.css}"/>
  <title>แปลง</title>
</head>
<body style="height: 1500px">

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

  <div class="wrapper">
    <div class="title"><p>เลือกเแปลง</p></div>

    <div class="main">

      <div class="card" th:each="plot : ${plots}">
        <div class="plot-img"><img th:src="@{/images/cat.png}" /></div>
        <div class="plot-name"><span th:text="${plot.name}"></span></div>

        <hr style="background-color: rgb(202,202,202)">

        <div class="plot-lo">จำนวนไร่ : <span th:text="${plot.numOfRaiUnit}"></span></div>
        <div class="manage">
          <a th:href="@{/manager/menu/round/{name}(name = ${plot.idPlantation})}">
            <button>จัดการแปลง</button>
          </a>
        </div>
      </div>

    </div>

  </div>


  <div class="btn">

    <select id="summarize-list" class="summarize-list" onchange="window.location.href=this.value">
      <option value="">สรุป</option>
      <option th:value="@{/manager/menu/yearSummary}">สรุปรายปี</option>
      <option th:value="@{/manager/menu/quarterSummary}">สรุปรายไตรมาตร</option>
    </select>

  </div>

</body>
</html>