<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/quarterSummary.css}"/>
  <title>สรุปรายไตรมาส</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">สรุปรายไตรมาส</div>

  <div th:if="${param.error}" style="color: red">สร้างสรุปไม่ได้</div>

  <div class="main">
    <div class="header">
      <div class="name">
          <p>เลือกแปลง</p>
          <p>เลือกปี</p>
          <p>เลือกไตรมาส</p>
      </div>


      <div class="item">
        <form th:action="@{/manager/summary/quarter}" method="post">
          <select name="plotName">
            <option th:each="plant : ${plantations}" th:text="${plant.name}"></option>
          </select>
          <select name="year">
            <option th:each="y : ${years}" th:text="${y}"></option>
          </select>
          <select name="quarter">
            <option th:each="q : ${quarters}" th:text="${q}"></option>
          </select>
          <a><button>ดูสรุป</button></a>
        </form>

      </div>
    </div>
  </div>

</div>

<div class="footer">
  <div class="btn">
    <a th:href="@{/manager/menu}"><button>กลับ</button></a>
  </div>
</div>

</body>
</html>