<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/palmCreateTransaction.css}"/>
  <title>เพิ่มรายการ</title>
</head>
<body>

<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">คำนวณค่าตัดปาล์ม และค่าบรรทุก</div>
</div>

<div class="main">

  <div class="name">
    <span th:text="${plotName}"></span>
    <span th:text="${year}" style="margin-top: 5px;"></span>
    <span th:text="${month}"></span>
    <span th:text="${round}"></span>
  </div>

  <form class="inputMain" method="post" th:action="@{/manager/menu/round/manageRound/palm/calculate/{round}(round=${idRound})}">
    <div>
      <p>อัตราค่าบรรทุก (บาท/กก)</p>
      <input type="text" class="number" name="rateTransfer">
    </div>
    <div>
      <p>อัตราค่าเก็บเกี่ยว (บาท/กก)</p>
      <input type="text" class="number" name="rateCollect">
    </div>

    <div class="btn">
      <a href="#"><button type="submit">คำนวณ</button></a>
    </div>
  </form>
</div>

<div class="error" th:if="${param.notice}" >
  <p th:text="${param.notice}" style="color: red; font-weight: bold; font-size: 20px"></p>
</div>

<div class="footer">
  <a th:href="@{/manager/menu/round/manageRound/palm/{round}(round = ${idRound})}"><button>กลับ</button></a>
</div>

</body>
</html>