<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:rel="stylesheet" th:href="@{/css/round.css}"/>
  <title>รอบ</title>
</head>
<body>
<div class="nav">
  <ul>
    <li style="list-style: none;" sec:authorize="isAuthenticated()">
      <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span sec:authentication="name"></span></a>
    </li>
    <li style="list-style: none;">
      <a th:href="@{/logout}" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
    </li>
  </ul>
</div>

<div class="wrapper">
  <div class="title">เลือกรอบ</div>

  <div class="head">
    <div class="plot-name" id="plot-name"><span th:text="${plotName}"></span></div>

    <div class="btn">
      <select class="year-list" id="year-list" onchange="window.location.href=this.value">
        <option value="0">เรียงตามปี</option>
        <option th:value="@{/manager/menu/round/{name}?sort(name=${plotName})}">hello world</option>
      </select>
    </div>
  </div>

  <div class="main">
    <div class="table-round">
      <table class="plotTable" id="plotTable">
        <tr>
          <th>ปี</th>
          <th>เดือน</th>
          <th>รอบ</th>
          <th>จัดการ</th>
          <th>จัดการ</th>
        </tr>
<!--        add by frontend-->
        <tr th:each="round : ${rounds}">
          <td th:text="${round.year}"></td>
          <td th:text="${round.month}"></td>
          <td th:text="${round.round}"></td>
          <td><button class="manageRound"><a th:href="@{/manager/menu/round/manageRound/{id}(id=${round.idWorkRound})}">จัดการรอบ</a></button></td>
          <td><button class="deleteBtn"><a th:href="@{/manager/menu/round/ConfirmDeleteRound/{id}(id=${round.idWorkRound})}">ลบรอบ</a></button></td>
        </tr>
<!--        <tr>-->
<!--          <td>2023</td>-->
<!--          <td>มิถุนายน</td>-->
<!--          <td>1</td>-->
<!--          <td><button class="manageRound"><a href="#">จัดการรอบ</a></button></td>-->
<!--          <td><button class="deleteBtn"><a href="#">ลบรอบ</a></button></td>-->
<!--        </tr>-->

      </table>
    </div>

    <div class="btn">
      <p th:if="${param.success}" style="color: green; font-size: 20px; font-weight: bold">สร้างรอบสำเร็จ</p>
      <p th:if="${param.delete}" style="color: green; font-size: 20px; font-weight: bold">ลบรอบสำเร็จ</p>
      <p th:if="${param.cannotDelete}" style="color: red; font-size: 20px; font-weight: bold">ไม่สามารลบรอบได้</p>
      <button class="createRound" id="createRound"><a th:href="@{/manager/menu/round/create/{name}(name=${plotName})}">สร้างรอบ</a></button>
    </div>
  </div>

  <div class="footer">
    <div class="btn">
      <button class="backBtn" id="backBtn"><a th:href="@{/manager/menu}">กลับ</a></button>
    </div>
  </div>

</div>


</body>
</html>