<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/css/yearSummary.css}"/>
    <title>สรุปรายปี</title>
</head>
<body>

<div class="nav">
    <ul>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-weight: bold; font-size: 20px; margin-left: 1rem;"><span th:text="${username}"></span></a>
        </li>
        <li style="list-style: none;">
            <a href="#" style="color: white; font-size: 18px; margin-right: 2rem;" class="logout">ออกจากระบบ</a>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="title">สรุปรายปี</div>

    <div class="main">
        <div class="header">
            <div class="name">
                <p>เลือกแปลง</p>
                <p>เลือกปี</p>
            </div>


            <div class="item">
                <select name="plotName" id="plotName">
                    <option value="0">แปลง</option>
                    <!--frontend add-->

                </select>
                <select name="year" id="year">
                    <option value="0">ปี</option>
                    <!--frontend add-->

                </select>

                <a href="#"><button>ดูสรุป</button></a>
            </div>
        </div>
    </div>

    <!--  pdf option-->
    <div class="pdf">
        <iframe src="" style="margin-top: 2rem;"></iframe>
    </div>


</div>
<div class="footer">
    <div class="btn">
        <a href="#"><button>กลับ</button></a>
        <a href="#"><button class="download">ดาวน์โหลด</button></a>
    </div>
</div>

</body>
</html>